<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JV Fashion Ecommerce</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header id="header">
        <a href="#"><img src="../img/logo.jpg"></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="../views/home.html">Home</a></li>
                <li><a href="../views/index.html">Sign Up</a></li>
                <li><a href="../views/search.html">Shop</a></li>
            </ul>
        </div>
    </header>
    <section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off! </p>
        <button><a href="../views/search.html"></a>Shop Now</button>
    </section>
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail update about our lastest shop and <span>special offer.</span></p>
        </div>
        <div class="form">
            <input type="email" id="email" name="email" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
        <select class="dropdown mt-3">
            <option value="contact">Contact</option>
            <option value="about">About Us</option>
            <option value="policies">Policies</option>
        </select>
    </section>
        <!-- JAVASCRIPT -->
        <script src="app.js"></script>
    
</body>
</html>