<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Filter</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/search.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
    <header id="header">
        <a href="#"><img src="../img/logo.jpg"></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="../views/home.html">Home</a></li>
                <li><a href="../views/index.html">Sign Up</a></li>
                <li><a href="../views/search.html">Shop</a></li>
                <li><a href="../views/table.html">Product</a></li>
            </ul>
        </div>
    </header>
    <section class="container">
        <form>
            <i class="fa fa-search"></i>
            <input type="text" name="" id="search-item" placeholder="Search Products" onkeyup="search()" >
        </form>
        <div class="product-list">
            <div class="product">
                <img src="../img/t1.jpg" alt="">
                <div class="p-details">
                    <h2>TShirt Blue</h2>
                    <h3>$20</h3>
                </div>
            </div>
            
            <div class="product">
                <img src="../img/b1.jpg" alt="">
                <div class="p-details">
                    <h2>Bag Guitar</h2>
                    <h3>$10</h3>
                </div>
            </div>
            <div class="product">
                <img src="../img/h1.jpg" alt="">
                <div class="p-details">
                    <h2>Coat black</h2>
                    <h3>$30</h3>
                </div>
            </div>
            <div class="product">
                <img src="../img/s1.jpg" alt="">
                <div class="p-details">
                    <h2>Sneaker Sport</h2>
                    <h3>$45</h3>
                </div>
            </div>
            <div class="product">
                <img src="../img/w1.jpg" alt="">
                <div class="p-details">
                    <h2>Watch Gold</h2>
                    <h3>$90</h3>
                </div>
            </div>
            <div class="product">
                <img src="../img/t2.jpg" alt="">
                <div class="p-details">
                    <h2>TShirt Red</h2>
                    <h3>$20</h3>
                </div>
            </div>
            <div class="product">
                <img src="../img/b2.jpg" alt="">
                <div class="p-details">
                    <h2>Handbag blue</h2>
                    <h3>$20</h3>
                </div>
            </div>
            <div class="product">
                <img src="../img/s2.jpg" alt="">
                <div class="p-details">
                    <h2>Adidas Yellow</h2>
                    <h3>$35</h3>
                </div>
            </div>
            <div class="product">
                <img src="../img/h2.jpg" alt="">
                <div class="p-details">
                    <h2>Coat Animal</h2>
                    <h3>$52</h3>
                </div>
            </div>
            <div class="product">
                <img src="../img/w2.jpg" alt="">
                <div class="p-details">
                    <h2>Watch Silver</h2>
                    <h3>$100</h3>
                </div>
            </div>
            <div class="product">
                <img src="../img/s3.jpg" alt="">
                <div class="p-details">
                    <h2>Sneaker Blue</h2>
                    <h3>$50</h3>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/searchApp.js"></script>
</body>
</html>